<div class="d-grid col-11 col-sm-6 mx-auto mt-5 mb-4">
    <div class="text-center">
        <h1 class="mb-5">ESCALA DE YASAVAGE</h1>
        <P>El test de <small>ESCALA DE YASAVAGE</small> debe ser respondido de manera independiente.</P>
    </div>
    <div class="d-grid gap-2 d-md-block grup-button mt-4 mb-4">
        <button routerLink="../test-escala-yesavage" class="btn btn-primary">Confirmar</button>
        <button  routerLink="../" class="btn btn-danger">Cancelar</button>
    </div>
</div>