

 <h2> Ubicación del adulto mayor </h2>

        <div class="texto">
            <p class="primero">El adulto mayor puede relaizar el test con acompañamiento únicamente en su domicilio.</p>
        </div>

        <div class="texto">
            <p class="segundo">Antes de realizar los test debe informar sobre el sitio donde están llevando a cabo.</p>
        </div>

        <div class="checkbox">
            <label> <input type="radio" name="box" formControlName="box" value="atencion">Punto de Atencion </label> <br>
            <label> <input type="radio" name="box" formControlName="box" value="domicilio">Domicilio </label><br>
        </div>

        <div class="botones">
            <button class="continuar">CONTINUAR</button>
            <button class="cancelar">CANCELAR</button>
        </div>
        