<div class="container">
    <header>
        
        <h2> Ubicación del adulto mayor </h2>
    </header>

    <body>
      <nav>

      </nav>
        <div class="texto">
            <p class="primero">El adulto mayor puede relaizar el test con acompañamiento únicamente en su domicilio.</p>

            <p class="segundo">Antes de realizar los test debe informar sobre el sitio donde están llevando a cabo.</p>
        </div>

        <div class="checkbox">
            <label><input type="checkbox" id="cbox1" value="first_checkbox"> Asistido</label><br>
            <br>
            <label><input type="checkbox" id="cbox2" value="first_checkbox"> Independiente</label><br>
        </div>

    </body>
    <footer>
        <button class="continuar">CONTINUAR</button>
        <button class="cancelar">CANCELAR</button>
    </footer>
</div>
