<form>
    <h1>Mini Examen del Estado Mentral</h1>
    <h3>Orientación en el Tiempo</h3>

    <p>
        En qué día estamos (Fecha):  <br><br>
        <input type="radio" value="0">0(Incorrecto)
        <input type="radio" value="1">1(Correcto) 
    </p>
    <p>
        En qué mes:  <br><br>
        <input type="radio" value="0">0(Incorrecto)
        <input type="radio" value="1">1(Correcto) 
    </p>
    <p>
        En qué día de la semana:  <br><br>
        <input type="radio" value="0">0(Incorrecto)
        <input type="radio" value="1">1(Correcto) 
    </p>
    <p>
        ¿Qué hora es aproximadamente?:  <br><br>
        <input type="radio" value="0">0(Incorrecto)
        <input type="radio" value="1">1(Correcto) 
    </p>

    <h3>Orientación en el Espacio</h3>
    <p>
        ¿En qué lugar estamos ahora?:  <br><br>
        <input type="radio" value="0">0(Incorrecto)
        <input type="radio" value="1">1(Correcto) 
    </p>
    <p>
        ¿En qué piso o departamento estamos ahora?:  <br><br>
        <input type="radio" value="0">0(Incorrecto)
        <input type="radio" value="1">1(Correcto) 
    </p>
    <p>
        ¿Qué barrio o parroquia es este?:  <br><br>
        <input type="radio" value="0">0(Incorrecto)
        <input type="radio" value="1">1(Correcto) 
    </p>
    <p>
        ¿En qué cuidad estamos?:  <br><br>
        <input type="radio" value="0">0(Incorrecto)
        <input type="radio" value="1">1(Correcto) 
    </p>
    <p>
        ¿En qué país estamos?:  <br><br>
        <input type="radio" value="0">0(Incorrecto)
        <input type="radio" value="1">1(Correcto) 
    </p>

    <h3>Memoria</h3>
        <b>CONSIGNA: “Le voy a decir el nombre de tres objetos, cuando yo termine quiero que por favor usted los repita” </b> <br>*Pronuncie claramente las palabras, una cada segundo, luego pídale a persona adulta mayor, que las repita. Otorgue un punto por cada respuesta correcta. Se repiten las palabras hasta que la persona se las aprenda (máx. 6 ensayos) pero únicamente se puntúa la primera repetición o ensayo. <br><br>
        <p>
            Papel:  <br><br>
            <input type="radio" value="0">0(Incorrecto)
            <input type="radio" value="1">1(Correcto) 
        </p>
        <p>
            Bicicleta:  <br><br>
            <input type="radio" value="0">0(Incorrecto)
            <input type="radio" value="1">1(Correcto) 
        </p>
        <p>
            Cuchara:  <br><br>
            <input type="radio" value="0">0(Incorrecto)
            <input type="radio" value="1">1(Correcto) 
        </p>

        <h3>Atención y cálculo</h3>
        <b>CONSIGNA: “Le voy a pedir que reste de 7 en 7 a partir del 100” <br></b>
        <p>
            93:  <br><br>
            <input type="radio" value="0">0(Incorrecto)
            <input type="radio" value="1">1(Correcto) 
        </p>
        <p>
            86:  <br><br>
            <input type="radio" value="0">0(Incorrecto)
            <input type="radio" value="1">1(Correcto) 
        </p>
        <p>
            79:  <br><br>
            <input type="radio" value="0">0(Incorrecto)
            <input type="radio" value="1">1(Correcto) 
        </p>
        <p>
            72:  <br><br>
            <input type="radio" value="0">0(Incorrecto)
            <input type="radio" value="1">1(Correcto) 
        </p>
        <p>
            65:  <br><br>
            <input type="radio" value="0">0(Incorrecto)
            <input type="radio" value="1">1(Correcto) 
        </p>

        <h3>Memoria Definida</h3>
        <b>CONSIGNA: “Dígame los 3 objetos que le mencioné al principio”.<br></b>
        <p>
            Papel:  <br><br>
            <input type="radio" value="0">0(Incorrecto)
            <input type="radio" value="1">1(Correcto) 
        </p>
        <p>
            Bicicleta:  <br><br>
            <input type="radio" value="0">0(Incorrecto)
            <input type="radio" value="1">1(Correcto) 
        </p>
        <p>
            Cuchara:  <br><br>
            <input type="radio" value="0">0(Incorrecto)
            <input type="radio" value="1">1(Correcto) 
        </p>

        <h3>Denominación</h3>
        <p>
            Mostrarle un lápiz o un bolígrafo y preguntar ¿qué es esto?:  <br><br>
            <input type="radio" value="0">0(Incorrecto)
            <input type="radio" value="1">1(Correcto) 
        </p>
        <p>
            Mostrarle un reloj y preguntar ¿qué es esto?  <br><br>
            <input type="radio" value="0">0(Incorrecto)
            <input type="radio" value="1">1(Correcto)
        </p>

        <h3>Repetición de una frase</h3>
        <b>CONSIGNA:  “Ahora le voy a decir una frase que tendrá que repetir después de mí. Solo se la puedo decir una vez, así que ponga mucha atención”.<br></b>
        <p>
            "ni sí, ni no, ni pero”:  <br><br>
            <input type="radio" value="0">0(Incorrecto)
            <input type="radio" value="1">1(Correcto) 
        </p>

        <h3>Comprensión - Ejecución de orden</h3>
        <b>CONSIGNA: “Le voy a dar unas instrucciones. Por favor sígalas en el orden en que las voy a decir. Solo las puedo decir una vez”: <br>
            “TOME ESTE PAPEL CON LA MANO DERECHA, DÓBLELO POR LA MITAD Y DÉJELO EN EL SUELO”
            <br></b>
        <p>
            Tome este papel con la mano derecha:  <br><br>
            <input type="radio" value="0">0(Incorrecto)
            <input type="radio" value="1">1(Correcto) 
        </p>
        <p>
            Dóblelo por la mitad  <br><br>
            <input type="radio" value="0">0(Incorrecto)
            <input type="radio" value="1">1(Correcto) 
        </p>
        <p>
            Déjelo en suelo:  <br><br>
            <input type="radio" value="0">0(Incorrecto)
            <input type="radio" value="1">1(Correcto) 
        </p>

        <h3>Lectura</h3>
        <p>
            Escriba legiblemente en un papel "cierre los ojos". Pídale a la persona adulta mayor que lo lea y que haga lo que dice la frase:  <br><br>
            <input type="radio" value="0">0(Incorrecto)
            <input type="radio" value="1">1(Correcto) 
        </p>
        <h3>Escritura</h3>
        <p>
            CONSIGNA: “Quiero que por favor escriba una frase que diga un mensaje”:  <br><br>
            <input type="radio" value="0">0(Incorrecto)
            <input type="radio" value="1">1(Correcto) 
        </p>
        <h3>Copia de un dibujo</h3>
        <p>
            CONSIGNA: “Copie por favor este dibujo tal como está” :  <br><br>
            <input type="radio" value="0">0(Incorrecto)
            <input type="radio" value="1">1(Correcto) 
        </p>
</form>



