<body>
    <div>
        <form>
            <div>
                <label>1. ¿Esta Ud. básicamente satisfecho con su vida?</label>
                <input type="radio" name="opcion" value="si">Si
                <input type="radio" name="opcion" value="no">No
            </div>

            <div>
                <label>2. ¿Ha disminuido o abandonado muchos de sus intereses o actividades previas?</label>
                <input type="radio" name="opcion" value="si">Si
                <input type="radio" name="opcion" value="no">No
            </div>

            <div>
                <label>3. ¿Siente que su vida está vacía?</label>
                <input type="radio" name="opcion" value="si">Si
                <input type="radio" name="opcion" value="no">No
            </div>

            <div>
                <label>4. ¿Se siente aburrido frecuentemente?</label>
                <input type="radio" name="opcion" value="si">Si
                <input type="radio" name="opcion" value="no">No
            </div>

            <div>
                <label>5. ¿Está Ud. de buen ánimo la mayoría del tiempo?</label>
                <input type="radio" name="opcion" value="si">Si
                <input type="radio" name="opcion" value="no">No
            </div>

            <div>
                <label>6. ¿Está preocupado o teme que algo malo le va a pasar?</label>
                <input type="radio" name="opcion" value="si">Si
                <input type="radio" name="opcion" value="no">No
            </div>

            <div>
                <label>7. ¿Se siente feliz la mayor parte del tiempo?</label>
                <input type="radio" name="opcion" value="si">Si
                <input type="radio" name="opcion" value="no">No
            </div>

            <div>
                <label>8. ¿Se siente con frecuencia desamparado?</label>
                <input type="radio" name="opcion" value="si">Si
                <input type="radio" name="opcion" value="no">No
            </div>

            <div>
                <label>9. ¿Prefiere Ud. quedarse en casa a salir a hacer cosas nuevas?</label>
                <input type="radio" name="opcion" value="si">Si
                <input type="radio" name="opcion" value="no">No
            </div>

            <div>
                <label>10. ¿Siente Ud. que tiene más problemas con su memoria que otras personas de su edad?</label>
                <input type="radio" name="opcion" value="si">Si
                <input type="radio" name="opcion" value="no">No
            </div>

            <div>
                <label>11. ¿Cree Ud. que es maravilloso estar vivo?</label>
                <input type="radio" name="opcion" value="si">Si
                <input type="radio" name="opcion" value="no">No
            </div>

            <div>
                <label>12. ¿Se siente inútil o despreciable como está Ud. actualmente?</label>
                <input type="radio" name="opcion" value="si">Si
                <input type="radio" name="opcion" value="no">No
            </div>

            <div>
                <label>13. ¿Se siente lleno de energía?</label>
                <input type="radio" name="opcion" value="si">Si
                <input type="radio" name="opcion" value="no">No
            </div>

            <div>
                <label>14. ¿Se encuentra sin esperanza ante su situación actual?</label>
                <input type="radio" name="opcion" value="si">Si
                <input type="radio" name="opcion" value="no">No
            </div>

            <div>
                <label>15. ¿Cree Ud. que las otras personas están en general mejor que Usted?</label>
                <input type="radio" name="opcion" value="si">Si
                <input type="radio" name="opcion" value="no">No
            </div>

            <div>
                <button>Enviar</button>
            </div>
        </form>
    </div>
</body>
