:host{
    font-family: sans-serif;

    .error-rad{
        color: red;
        font-style: italic;
        margin-left: 5px;
        font-weight: 600;;
    }
    .pregunta {
        font-weight: 600;
    }
    .grup-button {
        text-align: center;

        button {
            margin: 0px 10px;
        }
    }
    .formulario {
        margin: 0px 10%;
    }
    .sec-preg{
        margin: 10px 0px;
    }
}