<div class="img">
    <img src="../../assets/imagenes/mies.png" width="150px" height="150px" alt="">
</div>
<h3 class="titles2">Sistema de Registro de Formularios MIES</h3><br>



<form action="">
    <div class="grid-cont">
        <div>
            <input type="text" placeholder="Usuario" name="uname" required>   
        </div>
        <div>
            <input type="password" placeholder="Contraseña" name="psw" required>
        </div>
        <div>
            <button class="button">INGRESAR</button>
        </div>
    </div>
</form>










