<div style="background-color: #0d6efd; color: white; ;display: flex;">

    <button type="button" class="btn" style="color: white; ">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
              </svg></button>

    <p style="color:white;margin-left: 2%; font-size: unset; font-weight: bold; letter-spacing: 2px; margin-right: 70%; margin-top: 2%;">ÍNDICE DE BARTHEL</p>
    <span class="example-spacer"></span>
    <img style="padding: 5px" src="https://i.eldiario.com.ec/fotos-manabi-ecuador/2009/mies.png" width="80px" alt="">

</div>
<div class="d-grid col-11 col-sm-6 mx-auto mt-5 mb-4">

    <div class="text-center">
        <h1 class="mb-5">ESCALA DE YASAVAGE</h1>
        <P>El test de <small>ESCALA DE YASAVAGE</small> debe ser respondido de manera independiente.</P>
    </div>
    <div class="d-grid gap-2 d-md-block grup-button mt-4 mb-4">
        <button routerLink="../test-escala-yesavage" class="btn btn-primary">Confirmar</button>
        <button routerLink="../" class="btn btn-danger">Cancelar</button>
    </div>
</div>