<div class="container">

<app-menu [indice]="indice"></app-menu>
<form >
    <h3 class="titles">ABREU HERNANDEZ LUIS FELIPE</h3><br>
    <div class="grid-cont">
    <div>
    
        <a href="#home"><img class="image1" [src] ="ImagePath3" 
             style="width: 60px;height: 60px;"></a>
        <h5 class="dates">
             ESCALA DE LAWTON Y BRODY
        </h5>
    </div> 
    <div>
        <a href="#home"><img class="image2" [src] ="ImagePath2" 
        style="width: 60px;height: 60px;"></a>
        <h5 class="dates"> ESCALA DE YESAVAGE</h5>
    </div>
    <div >
        <a href="#home"><img class="image4" [src] ="ImagePath2" 
            style="width: 60px;height: 60px;"></a>
        <h5 class="dates">
            INDICE DE BARTHEL
        </h5>
    </div>
    <div >
        <a href="#home"><img class="image3" [src] ="ImagePath3" 
            style="width: 60px;height: 60px;"></a>
        
        <h5 class="dates">
            MINI EXAMEN DEL ESTADO MENTAL
        </h5>
    </div>
<div>
    <button class="button">AGREGAR OBSERVACIÓN</button>
</div>
<div>
    <button class="button">VER RESULTADOS</button>
</div>

</div>
</form> 
</div>
