<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

<form class="formulario">
    
    <label>ABREU HERNANDEZ LUIS FELIPE</label><br>

    <p>
        Cédula:<br> 
        <label>
            <dd> 2350313987
        </label>
    <p>
        Dirección:<br> 
        <label>
            <dd> Av. Quevedo - KM 5
        </label>
    </p>
    <p>
        Autoidentificación:<br> 
        <label>
            <dd> Montubio
        </label>
    </p>
    <p>
        Sexo:<br> 
        <label>
            <dd>Masculino
        </label>
    </p>
    <p>
        Edad:<br> 
        <label>
            <dd>75 años
        </label>
    </p>
</form> 
