

<div class="container">

    <header>
        <div class="topnav">
            
            <a class="active" href="#home"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
              </svg></a>
          <!--     <h3 class="enca">PERFIL USUARIO</h3> 
              <img class="image" [src] ="ImagePath" 
             style="width: 45px;height: 40px;"> -->
             <app-menu></app-menu>


          </div>
          
    </header>

<form class="formulario">
    
    <h3 class="titles">ABREU HERNANDEZ LUIS FELIPE</h3><br>
    <div  >
    <div >
        <h4 class="titles">Cédula:</h4> 
        <h4 class="dates">
             2350313987 
        </h4>
    </div> 
    <div>
       <h4 class="titles">Dirección: </h4> 
        <h4 class="dates"> Av. Quevedo - KM 5</h4>
    </div>
    <div>
        <h4 class="titles">Autoidentificación:</h4> 
        <h4 class="dates">
            Montubio
        </h4>
    </div>
    <div>
       <h4 class="titles">Sexo:</h4>
        <h4 class="dates">
            Masculino
        </h4>
    </div>
    <div>
        <h4 class="titles">Edad:</h4> 
        <h4 class="dates">
            75 años
        </h4>
    </div>
</div>
</form> 
</div>