

<div >

    <app-menu [indice]="indice"></app-menu>
<form >
    
    <h3 class="titles2">ABREU HERNANDEZ LUIS FELIPE</h3><br>
    <div class="section">
    <div >
        <h4 class="titles">Cédula:</h4> 
        <h4 class="dates">
             2350313987 
        </h4>
    </div> 
    <div>
       <h4 class="titles">Dirección: </h4> 
        <h4 class="dates"> Av. Quevedo - KM 5</h4>
    </div>
    <div>
        <h4 class="titles">Autoidentificación:</h4> 
        <h4 class="dates">
            Montubio
        </h4>
    </div>
    <div>
       <h4 class="titles">Sexo:</h4>
        <h4 class="dates">
            Masculino
        </h4>
    </div>
    <div>
        <h4 class="titles">Edad:</h4> 
        <h4 class="dates">
            75 años
        </h4>
    </div>
</div>
</form> 
</div>