<div class="container">
    <app-menu [indice]="indice"></app-menu>
    <body>
        <h1 class="titulo"></h1>
        <div class="texto">
            <p class="primero">Estas encuestas deben ser realizadas de preferencia por el adulto mayor</p>

            <p class="segundo">El siguiente formato se responderá de manera:</p>
        </div>

        <div class="checkbox">

            <mat-radio-group aria-label="Select an option">
                <mat-radio-button class="asistido" value="asistido">asistido</mat-radio-button>
                <br>
                <mat-radio-button class="independiente" value="independiente">independiente</mat-radio-button>
            </mat-radio-group>


        </div>

    </body>
    <footer>
        <button routerLink="/TestBarthel" class="continuar" mat-raised-button color="primary">CONTINUAR</button>
        <button class="cancelar" mat-raised-button color="warn">CANCELAR</button>
    </footer>
</div>

