example-spacer {
    flex: 1 1 auto;
}

.titulo {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 35px;
}

mat-toolbar {
    background-color: blue;
    color: white;
}

body {
    margin-top: 10%;
    font-size: 130%;

}

.contaniner {
    width: 100%;
    height: 100%;
}

.continuar {
    background-color: blue;
    color: white;
    margin-left: 15%;
    padding: 7px 20px;
    text-align: center;
    display: inline-block;

}

.cancelar {
    background-color: red;
    color: white;
    margin-left: 10%;
    padding: 7px 20px;
    text-align: center;
    display: inline-block;
}

h2 {
    text-align: center;
}

#cbox1,
#cbox2 {
    margin-left: 20%;
}

.texto {
    width: 80%;
    margin-left: 10%;
}

.primero,
.segundo {
    text-align: center;
}

.checkbox {
    margin-left: 10%;
}

.asistido {
    margin: 8%;
    text-align: center;
}

.independiente {
    text-align: center;
    margin: 8%;


}

footer {
    margin-top: 15%;
}