<div class="container">
    <header>
        <div class="topnav">
            <a class="active" href="#home"> INDICE DE BARTHEL</a>
          </div>
        <h2> INDICE DE BARTHEL </h2>
    </header>

    <body>
        <div class="texto">
            <p class="primero">Estas encuestas deben ser realizadas de preferencia por el adulto mayor</p>

            <p class="segundo">El siguiente formato se responderá de manera:</p>
        </div>

        <div class="checkbox">
            <input type="radio"  id="cbox1" name="gender" formControlName="gender" value="Asistido"> Asistido 
            <br>
            <input type="radio"  id="cbox2" name="gender" formControlName="gender" value="Independiente"> Independiente 
            <br>
          
            <br>
           
        </div>

    </body>
    <footer>
        <button class="continuar">CONTINUAR</button>
        <button class="cancelar">CANCELAR</button>
    </footer>
</div>