<div>
    <head>
       
    </head>
    <body>
        <div class="container">
        <h1>Indice escala de Lowtony y brody</h1>
        <p>Estas encuentas deben ser <br> realizadas de preferencia por <br> el adulto mayor</p> 
        <p>El siguiente formato respondera de manera:</p>
        <label class="textoR"><input type="radio" name="fav-color" class="radio"> Asistido</label> <br>
        <label class="textoR2"><input type="radio" name="fav-color" class="radio"> Independiente</label>
        </div>
    </body>
    <footer>
        <button class="continuar">continuar</button>
        <button class="cancelar">cancelar</button>
    </footer>
</div>
