.continuar {
    background-color: aqua;
    color: aliceblue;
    margin-left: 15%;
    text-align: center;
    display: inline-block;
}
.cancelar{
    background-color: beige;
    color: aliceblue;
    margin-left: 30%;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}



 .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }
.textoR{
    margin-left: 35%;

}
.textoR2{
    margin-left: 35%;
}